<div class="wrapper">
  <img src="../../../../assets/fill_icon.png" alt="placeholder" />
  <h1 class="title">{{ selectedTab }}</h1>

  <div class="tab-menu">
    <div
      class="tab-button"
      *ngFor="let item of items"
      (click)="tabSelected(item.label)"
      [ngClass]="{ active: selectedTab === item.label }"
    ></div>
  </div>

  <app-separator type="triangle"></app-separator>
  <ng-container *ngFor="let task of tasks; index as i">
    <div class="task">
      <img
        [src]="'../../../../assets/' + task.icon"
        alt="../../../../assets/Fill_Icon.png"
      />
      <div class="spacing"></div>
      <label class="task-title">{{ task.name }}</label>
      <label
        >Duration: <span>{{ task.duration }}</span></label
      >
      <label>Required:</label>
      <div class="required-items">
        <div class="item" *ngFor="let reqItem of task.required">
          <img src="../../../../assets/{{ reqItem.icon }}" />
          <label>{{ reqItem.amount }}</label>
        </div>
      </div>
      <div>
        <input
          type="submit"
          class="button"
          value="INITIATE TASK"
          [disabled]="allRequirements(task.required)"
          (click)="taskPicked(task)"
        />
      </div>
    </div>

    <ng-container *ngIf="i < task.required.length - 1">
      <app-separator></app-separator>
    </ng-container>
  </ng-container>
</div>
