@import '../../../../variables';

.wrapper {
  text-align: center;
  color: $text-color-light;
  padding-bottom: 2rem;
}

h1.title {
  font-size: 50px;
}

label {
  display: block;
}

.tab-menu {
  text-align: center;
}

.tab-button {
  content: '';
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  transform-origin: center center;
  border: 2px solid $graphic-element;
  display: inline-block;
  margin: 0 10px;
}

.tab-button:hover {
  border-color: $text-color-light;
}

.tab-button.active {
  transform: rotate(45deg) scale(1.2);
  border-color: $text-color-light;
  margin: 0 15px;
}

:host ::ng-deep .ui-button {
  margin: 20px 20px;
  font-size: 17px;
  width: 130px;
}

.spacing {
  height: 15px;
}

:host ::ng-deep .ui-card {
  display: inline-flex;
  margin: 2.5%;
  width: 45%;
  @media screen and (max-width: 800px) {
    width: 80%;
    margin: 10%;
  }
}

:host ::ng-deep .ui-card-body {
  width: 100%;
  height: 450px;
}

.task label {
  font-size: 24px;
}

.task img {
  height: 109px;
}

.required-items {
  label {
    font-size: 18px;
    display: inline-block;
  }

  img {
    margin: 0 5px;
    height: 50px;
    width: 50px;
  }
}

.item {
  display: inline-block;
}

.item img {
  display: block;
}
