<div class="wrapper">
  <div id="tasks" class="category">
    <img class="category-icon" src="../../../../assets/Fill_Icon.png" /><br />
    <input
      type="submit"
      (click)="pickNewTask()"
      class="button"
      value="VIEW AVAILABLE TASKS"
    />

    <ng-container *ngIf="user.taskId !== 0 && !taskIsFinished()">
      <ng-container *ngTemplateOutlet="separatorBottom"></ng-container>
    </ng-container>

    <!-- Task in Progress -->
    <div *ngIf="user.taskId !== 0 && !taskIsFinished()">
      <div class="progress-container">
        <img [src]="progressPath" alt="taskProgress" />
        <img [src]="taskImagePath" alt="task" />
      </div>
      <div class="spacing"></div>
      <label>{{ task.name }}</label>
      <div class="spacing"></div>
      <label>Completed in: {{ taskTime }}</label>
      <div></div>
      <label>
        Reward: {{ task.reward[0].amount }} {{ task.reward[0].name }}
      </label>
      <div class="spacing"></div>
      <input
        type="submit"
        class="button"
        (click)="cancelTask()"
        value="CANCEL CURRENT TASK"
      />
    </div>
  </div>

  <ng-container *ngTemplateOutlet="separator"></ng-container>

  <div id="inventory" class="category">
    <img class="category-icon" src="../../../../assets/Fill_Icon.png" /><br />
    <input
      type="submit"
      value="OPEN INVENTORY"
      class="button"
      (click)="openInventory()"
    />
  </div>

  <ng-container *ngTemplateOutlet="separator"></ng-container>

  <div id="map" class="category">
    <img class="category-icon" src="../../../../assets/Fill_Icon.png" /><br />
    <input type="submit" value="OPEN MAP" class="button" (click)="openMap()" />
  </div>

  <ng-container *ngTemplateOutlet="separator"></ng-container>

  <div id="community" class="category">
    <img class="category-icon" src="../../../../assets/Fill_Icon.png" /><br />
    <input
      type="submit"
      value="JOIN COMMUNITY"
      class="button"
      (click)="joinCommunity()"
    />
  </div>

  <ng-container *ngTemplateOutlet="separator"></ng-container>

  <div id="contracts" class="category">
    <img class="category-icon" src="../../../../assets/Fill_Icon.png" /><br />
    <input
      type="submit"
      value="OPEN CONTRACTS"
      class="button"
      (click)="openRequests()"
    />
  </div>

  <ng-container *ngTemplateOutlet="separator"></ng-container>

  <div id="messages" class="category">
    <img class="category-icon" src="../../../../assets/Fill_Icon.png" /><br />
    <input
      type="submit"
      value="VIEW MESSAGES"
      class="button"
      (click)="viewMessages()"
    />
  </div>
</div>

<p-dialog
  header="Collect Reward"
  [(visible)]="rewardDisplay"
  (onHide)="collectReward()"
  [style]="{ width: '200px', height: '200px' }"
  *ngIf="task"
>
  <div class="reward-content" align="center">
    <img src="../../../assets/{{ task.reward[0].icon }}" />
    <div class="spacing"></div>
    <label>{{ task.reward[0].amount }} {{ task.reward[0].name }}</label>
  </div>
</p-dialog>

<ng-template #separator>
  <div class="separator-container">
    <div class="separator"></div>
    <div class="separator-decorator-square"></div>
  </div>
</ng-template>

<ng-template #separatorBottom>
  <div class="separator-container">
    <div class="separator"></div>
    <div class="separator-decorator-triangle"></div>
  </div>
</ng-template>
