<div class="top-Bar">
  <div class="burger-menu">
    <a (click)="displaySB = true">
      <img src="../../../assets/35x35_NavigationBar.png" />
    </a>
  </div>
  <div class="credit-counter">
    <label>{{ user.credits }}</label>
    <img src="../../../assets/35x35_EurSign.png" />
  </div>
</div>

<p-sidebar [(visible)]="displaySB" styleClass="ui-sidebar-md">
  <div class="search-bar">
    <input
      placeholder=" Person Search"
      type="text"
      pInputText
      [(ngModel)]="searchStr"
      (keyup.enter)="search()"
    />
  </div>
  <img src="../../../assets/{{ user.icon }}" />
  <div class="separator"></div>
  <label>{{ user.name }}</label>
  <div class="separator"></div>
  <p-button label="Public Profile" (onClick)="openPublicProfile()"></p-button>
  <div class="mid-content">
    <label>Level: {{ user.level }}</label>
    <div class="separator"></div>
    <label>Skill Points: {{ user.skillPoints }}</label>
    <div class="separator"></div>
    <p-button label="Skill Tree" (onClick)="openSkillTree()"></p-button>
  </div>
</p-sidebar>

<p-button
  (onClick)="returnToOverview()"
  *ngIf="displayBack()"
  class="back-Button"
  icon="fa fa-angle-left"
></p-button>

<div class="dashboard">
  <router-outlet></router-outlet>
</div>

<p-toast></p-toast>
