@import '../../../variables';

.top-Bar {
  height: 60px;
  width: 100%;
  background-color: $top-bar-background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 1px 1px 20px black;
}

.burger-menu {

  a {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
  }

  a:hover {
    background-color: grey;
  }
}

.credit-counter {
  position: absolute;
  top: 0;
  right: 0;

  img {
    width: 30px;
    height: 30px;
  }

  label {
    color: $text-color;
    font-size: 42px;
  }
}

p-sidebar {
  text-align: center;
  label {
    font-size: 30px;
  }

  img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: grey;
    margin-top: 3em;
  }

  .mid-content {
    margin-top: 10vh;
  }
}

.dashboard {
  width: 90%;
  margin: 5em auto auto;
}

.back-Button {
  position: fixed;
  top: 100px;
  left: 2vw;
  z-index: 990;
}

.separator {
  margin-top: 20px;
}

.search-bar {
  text-align: center;
  margin-top: 30px;
  input {
    border: 1px solid green;
  }
}
