<div class="login-card">
  <p-card header="Login">
    <form (submit)="login()">
      <input
        pInputText
        type="text"
        placeholder="Username"
        required
        [(ngModel)]="user"
        name="Username"/>
      <div></div>
      <input
        pInputText
        type="password"
        placeholder="Password"
        required
        [(ngModel)]="password"
        name="Password"/>
      <div></div>
      <button pButton type="submit" label="Login"></button>
    </form>
  </p-card>
</div>
