@import '../../../../variables';

.wrapper {
  text-align: center;
  margin-bottom: 2rem;
}

input {
  margin-bottom: 20px;
}

.tab-menu {
  position: relative;
}

input[type='submit'].buy {
  width: 260px;
  height: 44px;
  background: url('../../../../assets/sell_buy_02.png');
  position: relative;
}

input[type='submit'].sell {
  width: 260px;
  height: 44px;
  background: url('../../../../assets/sell_buy_01.png');
  position: relative;
}

.tab-menu span {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 130px;
  line-height: 44px;
  color: $graphic-element;

  &#sell {
    left: calc(50% - 130px);
  }

  &#buy {
    left: 50%;
  }

  &.active {
    color: $text-color-light;
  }
}

.magnifier {
  position: absolute;
  top: 10px;
  // 258px: button outline
  // 29px: offset to button border
  left: calc(((100% - 258px) / 2) + 29px);
}

.tab-menu {
  text-align: center;
  p-button {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
}

.inventory-content-wrapper {
  margin-top: 20px;
}

.inventory-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 400px;
}

.inventory-item {
  display: inline-block;
  padding: 30px 20px;
  text-align: center;
  width: 50%;
  max-width: 200px;
  position: relative;

  &.border-top {
    border-top: 2px solid $graphic-element;
  }

  &.border-right {
    border-right: 2px solid $graphic-element;
  }

  div.square {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    transform-origin: center center;
    content: '';
    border: 2px solid $graphic-element;
    background-color: $background-color;
  }

  div.square-top {
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 998;
  }

  div.square-bottom {
    position: absolute;
    bottom: -5px;
    right: -6px;
    z-index: 998;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }

  img.credits {
    display: inline;
    width: 24px;
    height: 24px;
    vertical-align: sub;
  }
}

.item-details label {
  display: block;
  font-size: 24px;
}

p-card {
  margin: 20px;
}

:host ::ng-deep .ui-card {
  width: 150px;
}
@media only screen and (max-width: 1450px) {
  :host ::ng-deep .ui-card {
    width: 125px;
  }
}

:host ::ng-deep .ui-card-body {
  width: 100%;
}

.card-content {
  display: block;
  text-align: center;
  height: 59px;
  img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
  }
}

p-card label {
  display: block;
  text-align: center;
  font-size: 18px;
}

.number-picker {
  display: inline-block;
  float: right;
}

:host ::ng-deep .ui-dialog {
  max-width: 300px;
}

:host ::ng-deep .ui-dialog .ui-dialog-titlebar {
  text-align: center;
}
