<div class="title">
  <label>New Contract</label>
</div>
<div class="wanted-container">
  <label>Wanted:</label>
  <div class="receiver">
    <img src="../../../../assets/person_placeholder.png">
    <label>{{receiver.name}}</label>
  </div>
</div>
<div class="item-container">
  <div class="item" *ngFor="let item of contract.requestedItems">
    <p-card>
      <p-header>
        <label>{{item.name}}</label>
      </p-header>
      <div class="card-content">
        <p-button icon="fa fa-times" styleClass="ui-button-danger" (onClick)="removeContractItem(item, 'requested')"></p-button>
        <img src="../../../../assets/{{item.icon}}">
      </div>
      <p-footer>
        <label>{{item.amount}}</label>
      </p-footer>
    </p-card>
  </div>
  <div class="item" (click)="openAddItemDialog('requested')">
    <p-card>
      <p-header>
        <label>Add Item</label>
      </p-header>
      <div class="card-content">
        <div class="plus">
          <label>+</label>
        </div>
      </div>
      <p-footer>
        <label></label>
      </p-footer>
    </p-card>
  </div>
</div>
<div class="provided-container">
  <label>Provided:</label>
  <div class="provider">
    <img src="../../../../assets/person_placeholder.png">
    <label>{{user.name}}</label>
  </div>
</div>
<div class="item-container">
  <div class="item" *ngFor="let item of contract.providedItems">
    <p-card>
      <p-header>
        <label>{{item.name}}</label>
      </p-header>
      <div class="card-content">
        <p-button icon="fa fa-times" styleClass="ui-button-danger" (onClick)="removeContractItem(item, 'provided')"></p-button>
        <img src="../../../../assets/{{item.icon}}">
      </div>
      <p-footer>
        <label>{{item.amount}}</label>
      </p-footer>
    </p-card>
  </div>
  <div class="item" (click)="openAddItemDialog('provided')">
    <p-card>
      <p-header>
        <label>Add Item</label>
      </p-header>
      <div class="card-content">
        <div class="plus">
          <label>+</label>
        </div>
      </div>
      <p-footer>
        <label></label>
      </p-footer>
    </p-card>
  </div>
</div>
<div class="reward-container">
  <label>Reward: {{contract.reward}}</label>
  <img src="../../../../assets/credit.png">
</div>
<div class="response-container">
  <p-button label="Submit" (onClick)="submitContract()" [disabled]="!submitable()"></p-button>
  <p-button label="Cancel" styleClass="ui-button-danger" (onClick)="cancelContract()"></p-button>
</div>


<p-dialog header="Add Profile Item" [(visible)]="addItemDialog"
          [style]="{width: '60vw', height: '60vh'}">
  <div class="addItemDialog-content">
    <div class="search-bar">
      <input placeholder="Search" type="text" pInputText [(ngModel)]="searchStr" (ngModelChange)="search()"/>
    </div>
    <div class="add-items">
      <div class="item" *ngFor="let item of allDisplayedItems">
        <p-card>
          <div class="card-content" (click)="addContractItem(item)">
            <img src="../../../../assets/{{item.icon}}">
          </div>
          <p-footer>
            <button (click)="increase(item)">+</button>
            <label>{{item.amount}}</label>
            <button  (click)="decrease(item)">-</button>
          </p-footer>
        </p-card>
      </div>
    </div>
  </div>
</p-dialog>

